/* Estilo general */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #00BFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/img/cuadricula.png');
    background-size: auto;
    background-repeat: repeat;
    background-position: center;
}

.titlebarra-superior {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #f56c9d;
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    justify-content: center
}

.barra-superior img {
    width: 100px;
    height: auto;
}

.barra-superior {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 20px;

}

/* Contenedor principal */
.container {
    text-align: center;
    padding: 20px;
}

#boxJuego {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#box_cards {
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h1 {
    font-size: 36px;
    color: #000;
}

/* Estilos de los botones de temas */
.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.button {
    background-color: #FF69B4;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s;
    text-align: center;
    position: relative;
}

.button img {
    width: 80px;
    height: 80px;
}

.button p {
    margin-top: 10px;
    font-size: 18px;
    color: white;
}

.button:hover {
    transform: scale(1.1);
    background-color: #FFD700;
}

.button:active {
    transform: scale(0.9);
    background-color: #FF1493;
}

.dataForm {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    width: auto;
    font-weight: bold;
    margin-right: 10px;
}


/* Otros estilos existentes */
.question-box {
    margin: 20px auto;
    width: 150px;
    height: 150px;
    animation: rotate 4s linear infinite;
}

.question-box img {
    width: 100%;
    height: 100%;
}

.leaderboard {
    margin: 20px 0;
}

.ranking-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 25px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #000;
    width: 450px;
}

.ranking-icon {
    width: 50px;
    height: 50px;
}

h2 {
    font-size: 28px;
    color: #000;
    margin-top: 20px;
}

p {
    font-size: 18px;
    color: #000;
}

button {
    background-color: #FF69B4;
    color: #fff;
    padding: 15px 30px;
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

#form {
    background-color: #FF69B4;
    color: #fff;
    padding: 15px 30px;
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

#form2 {
    background-color: #FF69B4;
    color: #fff;
    padding: 15px 30px;
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

input {
    /* background-color:; */
    color: black;
    /* padding: 15px 30px; */
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 20px;
}

#formulario {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 100px;
}


button:hover {
    background-color: #FF1493;
}


.questionTitle {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 20px;
    color: white;
    justify-content: center;

}

.containerQuestions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
    width: 45px;
    margin: auto;
    padding: 50px 50px 50px 50px;
    flex-wrap: wrap;
    justify-content: center;

}

.question {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.question.disabled {
    cursor: default;
    color: #999999;
    border: 16px solid rgb(176, 179, 180);
    background-color: rgb(218, 218, 218);
}

.question.neutral {
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 80px;
    max-height: 80px;
    cursor: pointer;
    border: 16px solid rgb(247, 141, 12);
    background-color: rgb(254, 254, 255);
    width: 60px;
    margin: 10px;
    padding: 50px 50px 50px 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.question.neutral.naranja {
    border: 16px solid rgb(247, 141, 12);

}

.question.neutral.naranja:hover {
    border: 16px solid rgb(255, 223, 184);

}

.question.neutral.azul {
    border: 16px solid rgb(84, 92, 255);

}

.question.neutral.azul:hover {
    border: 16px solid rgb(192, 195, 253);

}

.question.neutral.rosa {
    border: 16px solid rgb(255, 84, 249);

}

.question.neutral.rosa:hover {
    border: 16px solid rgb(255, 211, 254);

}

.question.neutral.amarillo {
    border: 16px solid rgb(240, 244, 25);

}

.question.neutral.amarillo:hover {
    border: 16px solid rgb(252, 253, 196);
}

.question.correcta {
    cursor: default;
    border: 1px solid rgb(37, 185, 18);
    background-color: rgb(195, 224, 195);
}

.question.incorrecta {
    cursor: default;
    border: 1px solid rgb(185, 62, 18);
    background-color: rgb(224, 206, 195);
}

#hidden_answer {
    display: none;
}

.json_datos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.card {
    width: 99%;
    margin: 5px 0px 10px 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 0.8rem;
}

.card h3 {
    color: white;
    display: flex;
    background-color: #FF69B4;
    border-radius: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    margin: 0;
    text-align: center;
}


.card p {
    margin-bottom: 10px;
}

.card .difficulty {
    font-weight: bold;
    color: #555;
}

#btn_nextQuestion {
    background-color: #f77eb4;
    /* Color del botón */
    color: white;
    padding: 15px 40px;
    border-radius: 30px;
    font-size: 30px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
}

#btn_nextQuestion:hover {
    opacity: 0.9;
}




/* Ajustes para pantallas pequeñas */
@media (max-width: 600px) {
    body {
        font-size: 14px;
        text-align: center;
        padding: 0 10px;
    }

    /* Ajusta los botones para que sean más grandes y más fáciles de pulsar en móviles */
    button {
        width: 100%;
        font-size: 18px;
        padding: 15px;
        margin-top: 15px;
    }

    /* Ajustar la imagen y los elementos para que estén alineados verticalmente */
    .imagen,
    .resultados {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
}


/* Animación de rotación */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#grafica {
    background-color: #ffd700;
    display: none;
    /* poner a flex para mostrarlo */
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    height: 230px;

}

ul {
    list-style-type: none;
    padding: 0;
    /* Opcional: para quitar el espacio de relleno por defecto */
    margin: 0;
    /* Opcional: para ajustar el margen */
}

#boxLogout {
    display: none;
}