
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #0f174d;

    font-size: 1.1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, serif, Arial, sans-serif;

    background-color: #ffffff;
}

main {
    width:80%;
    min-width: 300px;
    margin: 10px auto;
    padding: 10px;
    display: flex;

    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, sans-serif;

    min-height: 100vh;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid rgb(58, 95, 158);
}

#boxJuego{
    display: none;
}
#btn_nextQuestion{
    display: none;
}
#btn_mostrarResultados{
    display: none;
}

.question{
    padding:5px;
    margin-bottom: 10px;

    border-radius: 5px;
}
.question.disabled{
    cursor: default;
    color: #999999;
    border: 1px solid rgb(176, 179, 180);
    background-color:rgb(218, 218, 218);
}
.question.neutral{
    cursor: pointer;
    border: 1px solid rgb(191, 201, 207);
    background-color:rgb(254, 254, 255);
}
.question.neutral:hover{
    border: 1px solid rgb(170, 191, 196);
    background-color:rgb(221, 234, 237)
}
.question.correcta{
    cursor: default;
    border: 1px solid rgb(37, 185, 18);
    background-color:rgb(195, 224, 195);
}
.question.incorrecta{
    cursor: default;
    border: 1px solid rgb(185, 62, 18);
    background-color:rgb(224, 206, 195);
}
#hidden_answer{
    display:none;
}

.json_datos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.card {
    width: 99%;
    margin: 5px 0px 10px 0px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    font-size: 0.8rem;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 10px;
}

.card .difficulty {
    font-weight: bold;
    color: #555;
}

/* ******************************* */
/* ******************************* */

.infoCapa {
    top: 50%;
    left: 50%;
    display: none; 
    z-index: 1000;
    position: fixed;
    
    width:60%;
    padding: 20px;
    min-width: 300px;
    text-align: left;

    border-radius: 8px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    
    /* Situamos el eje X e Y. 
    El valor -50% para ambos ejes desplaza el elemento hacia la izquierda 
    y hacia arriba el 50% de su propio tamaño. 
    */
    transform: translate(-50%, -50%); 
}

/* Capa de fondo */
.fondoCapa {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999; 
    display: none;
    position: fixed;

    background-color: rgba(0, 0, 0, 0.5); 
}
